*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;



}

body {
    
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(255, 252, 252);



}

img {
    max-width: 320px;
    float: left;
    
    margin-right: 15px;
    margin-bottom: 30px;
    border-radius: 8px;

}

.wrapper {
    margin: 150px auto;
    width: 70%;           

}

.textbox {
    color: black;


}

.textbox h2{
    font-size: 42px;

}

.textbox p {
    font-size: 16px;

}

body {
    background-image: url("bread\ wallpaper.jpg");
    
   }

.pagination{
    position: relative;
    bottom: 0; 
    width: 100%;
    margin-left: 350px;
    
  }

.auroramap {
        margin: 20px auto;
        max-width: 1000px;
        
    }

.makebread {
    margin: 20px auto;
    max-width: 1000px;



}

.youtube {
    margin: 20px auto;
    max-width: 600px;
    bottom: 0;
    margin-left: 350px;

}